:root {
	--howl-warm-white: #FCF9F2;
	--howl-soft-dark: #3D3935;
	--howl-hard-dark: #1A1A1A;
	--howl-golden-brown: #D4A373;
	--howl-light-grey: #E2DDD3;
	--howl-off-white: #fcfaf7;
	--howl-delete: #ffdce0;
	--howl-insert: #afefc1;
	--howl-mark: #dce472;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: 200 900;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: 200 900;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("./JetBrainsMono-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: 100 800;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("./JetBrainsMono-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: 100 800;
}

@font-face {
	font-family: "Latin Modern Math";
	src: url("./LatinModernMath.otf");
}

html {
	font-size: 110%;
}

*, *::before, *::after {
	box-sizing: border-box;
}


body {
	font-family: "Nunito";
	line-height: 1.6;
	margin: 0 auto;
	padding-inline: 1rem;
	background-color: var(--howl-warm-white);
	color: var(--howl-soft-dark);
	max-width: 80ch;
}

address {
	font-style: normal;
	margin-block: 1rem;
	padding-left: 1rem;
	border-left: 3px solid var(--howl-golden-brown);
}

article {

}

aside {

}

footer {

}

header {

}

h1, h2, h3, h4, h5, h6 {
	color: var(--howl-hard-dark);
	line-height: 1.2;
	font-weight: 800;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.75rem;
}

hgroup {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

hgroup * {
	margin: 0;
}

hgroup > :first-child ~ * {
	color: var(--howl-golden-brown);
	font-style: italic;
	line-height: 1.2;
}

main {

}

nav {

}

section {

}

search {

}

blockquote {
	margin-inline: 3rem;
	margin-block: 2rem;
	border-left: 3px solid var(--howl-golden-brown);
	padding-left: 1rem;
	font-style: italic;
	font-size: 1.1rem;
}

blockquote::before {
	content: open-quote;
	color: var(--howl-golden-brown);
}

blockquote::after {
	content: close-quote;
	color: var(--howl-golden-brown);
}

dd {
	margin-left: 2rem;
}

div {

}

dl {

}

dl dt:first-child::before {
	content: none;
}

dt {
	font-weight: 800;
	color: var(--howl-hard-dark);
}

dt::before {
	content: "";
	display: block;
	border-top: 1px solid var(--howl-light-grey);
	margin-top: 0.5rem;
	padding-bottom: 0.5rem;
}

figcaption {
	font-size: 0.8rem;
	font-style: italic;
	margin-block: 0.5rem;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
}

hr {
	border: none;
	position: relative;
	overflow: visible;
	border: 0.5px solid var(--howl-light-grey);
	margin-block: 3rem;
}

hr::before {
	content: "(⚈ᴥ⚈)";
	color: var(--howl-golden-brown);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--howl-warm-white);
	padding: 0.2rem;
}

ul, ol, menu {
	margin-block: 1rem;
	padding-left: 3rem;
}

li::marker {
	font-weight: 700;
	color: var(--howl-golden-brown);
}

menu {

}

ol {

}

p {
}

pre {
	font-family: "JetBrains Mono";
	background-color: var(--howl-soft-dark);
	color: var(--howl-warm-white);
	font-size: 0.9rem;
	tab-size: 4;
	border-radius: 4px;
	padding: 1.5rem;
	margin-block: 2rem;
	border-left: 5px solid var(--howl-golden-brown);
}

ul {

}

a {
	color: var(--howl-golden-brown);
	text-decoration-color: var(--howl-golden-brown);
	text-underline-offset: 4px;
	transition: all ease 0.2s;
}

a:hover {
	color: var(--howl-soft-dark);
	text-decoration-color: var(--howl-soft-dark);
}

abbr {
	color: var(--howl-golden-brown);
	text-decoration: underline dotted;
	text-decoration-thickness: 2px;
	cursor: help;
	text-underline-offset: 2px;
}

b, strong {
	font-weight: 800;
}

bdi {

}

bdo {

}

br {

}

figure > blockquote {
	margin-bottom: 1rem;
}

figure > blockquote ~ figcaption {
	align-self: flex-end;
	margin-block: 0;
	margin-right: 3rem;
}

cite {

}

code, samp {
	font-family: "JetBrains Mono";
	background-color: var(--howl-light-grey);
	border-radius: 3px;
	padding: 0.1rem 0.4rem;
	font-size: 0.9em;
}

pre :is(code, samp) {
	background-color: initial;
	border-radius: initial;
	padding: initial;
	font-size: inherit;
}

data {

}

dfn {

}

em {

}

i {

}

kbd {
	font-family: "JetBrains Mono";
	font-size: 0.9em;
	background-color: var(--howl-warm-white);
	color: var(--howl-hard-dark);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 0.05rem 0.3rem;
}

mark {
	background-color: var(--howl-mark);
	border-radius: 2px;
	padding-inline: 0.3rem;
}

q {
	font-style: italic;
}

rp {

}

rt {

}

ruby {
	font-size: 1.5rem;
}

s {
	text-decoration-color: var(--howl-soft-dark);
	text-decoration-thickness: 2px;
	opacity: 0.3;
}

samp {

}

small {
	font-size: 0.8rem;
}

strong {

}

sub {

}

sup {

}

time {

}

u {
	text-decoration: wavy underline;
	text-decoration-color: var(--howl-golden-brown);
	text-underline-offset: 4px;
}

var {

}

wbr {

}

area {

}

audio {
	width: 100%;
	display: block;
}

img {
	display: block;
	max-width: 100%;
}

map {

}

track {

}

video {
	max-width: 100%;
}

video::cue {
	background-color: yellow;
	color: white;
}

embed {
	display: block;
	max-width: 100%;
}

fencedframe {

}

iframe {

}

object {

}

picture {

}

source {

}

svg {
	max-width: 100%;
	display: block;
}

math {
	font-family: "Latin Modern Math";
	font-size: 1.2rem;
}

canvas {

}

noscript {

}

script {

}

del {
	background-color: var(--howl-delete);
	padding-inline: 0.3rem;
	border-radius: 2px;
	text-decoration-thickness: 2px;
}

ins {
	background-color: var(--howl-insert);
	padding-inline: 0.3rem;
	border-radius: 2px;
	text-decoration: none
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 2rem 0;
	font-variant-numeric: tabular-nums;
	background-color: var(--howl-off-white);
}

caption {
	text-align: left;
	font-weight: 800;
	color: var(--howl-golden-brown);
	margin-bottom: 0.75rem;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.03rem;
}

th, td {
	padding: 0.75rem;
	border: 1px solid var(--howl-light-grey);
	text-align: left;
}

thead th {
	border-bottom: 2px solid var(--howl-golden-brown);
	font-size: 0.85rem;
	font-weight: 800;
}

tfoot {
	font-weight: 800;
}

tfoot td {
	border-top: 2px solid var(--howl-soft-dark);
}

button {
	font-family: "Nunito";
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-weight: 700;
	background-color: var(--howl-golden-brown);
	color: var(--howl-warm-white);
	border-radius: 3px;
	display: inline-block;
	border: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	transition: background-color 0.2s ease;
}

button:disabled {
	background-color: var(--howl-light-grey);
	cursor: not-allowed;
	opacity: 0.8;
}

button:not(:disabled):hover {
	background-color: var(--howl-soft-dark);
}

datalist {

}

fieldset {
	border: 1px solid var(--howl-light-grey);
	border-radius: 3px;
	margin: 1rem 0;
	padding: 0.7rem 1rem;
}

form {

}

input {

}

label {
	display: inline-block;
	margin-block: 0.2rem;
}

legend {
	font-size: 0.9rem;
	background-color: var(--howl-golden-brown);
	color: var(--howl-warm-white);
	border-radius: 3px;
	padding: 0.2rem 0.7rem;
	font-weight: 700;
}

meter {
	display: block;
}

optgroup {

}

option {

}

output {

}

progress {
	display: block;
}

select {
	appearance: none;
	display: block;
	font-family: "Nunito";
	background-color: var(--howl-off-white);
	font-size: 1rem;
	padding-block: 0.7rem;
	padding-left: 1rem;
	padding-right: 2rem;
	border: 2px solid var(--howl-light-grey);
	border-radius: 3px;
	color: var(--howl-soft-dark);
	cursor: pointer;
	position: relative;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%233D3935'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 1.2rem;
	outline: none;
}

select:focus{
	border-color: var(--howl-golden-brown);
}

selectedcontent {

}

textarea {
	font-family: "Nunito";
	font-size: 1rem;
	color: var(--howl-soft-dark);
	width: 100%;
	display: block;
	text-align: left;
	border-radius: 5px;
	min-height: 200px;
	position: relative;
	outline: none;
	background-color: var(--howl-off-white);
	border-color: var(--howl-off-white);
	border-inline-width: 1rem;
	border-block-width: 0.6rem;
	outline: 2px solid var(--howl-light-grey);
	outline-offset: -2px;
	resize: vertical;
	line-height: 1.6;
}

textarea:focus {
	outline-color: var(--howl-golden-brown);
}

/*
button, input[type="button"], input[type="submit"], input[type="reset"] {

}

:is(button:not(:disabled), input[type="button"], input[type="submit"], input[type="reset"]):hover {
	background-color: var(--howl-soft-dark);
}

button:disabled {
	background-color: var(--howl-light-grey);
	cursor: not-allowed;
	opacity: 0.8;
}

datalist{

}


form {

}

input {

}

input[type="radio"] {
	position: relative;
	margin-right: 0.3rem;
}

input[type="radio"]::before {
	content: "";
	position: absolute;
	width: 22px;
	height: 22px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--howl-off-white);
	border: 2px solid var(--howl-light-grey);
	border-radius: 50%;
	transition: border-color 0.2s ease;
}

input[type="radio"]:checked::before {
	border-color: var(--howl-golden-brown);
}

input[type="radio"]::after {
	opacity: 0;
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--howl-golden-brown);
	border-radius: 50%;
	transition: opacity 0.2s ease;
}

input[type="radio"]:checked::after {
	opacity: 1;
}

input[type="checkbox"] {
	position: relative;
	margin-right: 0.3rem;
}

input[type="checkbox"]::before {
	content: "✓";
	font-size: 1rem;
	color: var(--howl-off-white);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 22px;
	height: 22px;
	background-color: var(--howl-off-white);
	border: 2px solid var(--howl-light-grey);
	border-radius: 3px;
	transition: all 0.2s ease;
}

input[type="checkbox"]:checked::before {
	background-color: var(--howl-golden-brown);
	border-color: var(--howl-golden-brown);
}

input[type="color"] {
	border: 2px solid var(--howl-light-grey);
	background-color: var(--howl-off-white);
	border-radius: 3px;
}

input[type="date"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"] {
	font-family: "Nunito";
	color: var(--howl-soft-dark);
	display: block;
	width: 100%;
	background-color: #fcfaf7;
	border: 2px solid var(--howl-light-grey);
	border-radius: 5px;
	padding: 0.6rem 1rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}

input[type="file"] {
	display: block;
	font-family: "Nunito";
	background-color: var(--howl-off-white);
	border: 2px solid var(--howl-light-grey);
	border-radius: 5px;
	padding: 0.6rem 1rem;
	font-size: 1rem;
	color: var(--howl-soft-dark);
	cursor: pointer;
}

input[type="file"]::file-selector-button {
	font-size: 0.9rem;
	background-color: var(--howl-golden-brown);
	color: var(--howl-warm-white);
	border: none;
	font-family: "Nunito";
	font-weight: 700;
	margin-right: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

input[type="file"]::file-selector-button:hover {
	background-color: var(--howl-soft-dark);
}

input[type="range"] {
	display: block;
}

optgroup {

}

option {

}

output {

}

select {

}

selectedcontent {

}

textarea {

} */
