:root {
	--howl-warm-white: #FCF9F2;
	--howl-soft-dark: #3D3935;
	--howl-hard-dark: #1A1A1A;
	--howl-golden-brown: #D4A373;
	--howl-light-grey: #E2DDD3;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: 200 900;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: 200 900;
}

body {
	font-family: "Nunito";
	line-height: 1.6;
	font-size: 1.1rem;
}
/*
h1, h2, h3, h4, h5, h6 {
	color: var(--howl-hard-dark);
	line-height: 1.2;
	font-weight: 800;
}

h1 {
	font-size: 3.05rem;
}

a {
	color: var(--howl-golden-brown);
} */
