:root {
	--color-black-1: #222;
	--color-black-2: #333;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: 200 900;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: 200 900
}

body {
	font-family: "Nunito", sans-serif;
	padding: 0;
	max-width: 40rem;
	margin-inline: auto;
	color: var(--color-black-2);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color-black-1);
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1.0rem;
}
