@font-face {
	font-family: "Nunito";
	src: url("./Nunito-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: 200 900;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: 200 900;
}

body {
	font-family: "Nunito", sans-serif;
	margin: 0 auto;
	padding: 0;
	max-width: 50rem;
}
